// colors
$grey: rgb(182, 182, 182);
$black: rgb(43, 43, 43);
$white: rgb(230, 229, 236);

// fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&display=swap');
$title: 'Outfit', sans-serif;