@import "../../../theme/Theme.scss";

.landing-header-container {
    background-color: pink;
    color: red;
    display: flex;
    justify-content: center;
}

.landing-h1 {
    font-family: $title;
}